/* CSS reset */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
/* Pozicionálás */

.profile-card {
  width: 600px;
  max-width: calc(100vw - 30px);
  
  }

.head, .links {
  text-align: center;
}

img {
  width: 200px;
  height: auto;
  border-radius: 5%;
  margin: 10px;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(60%);
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  font-size: 26px;
}
.head, .about {
  margin-bottom: 10%;
}

.content {
margin: 15px;  }


body {
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Mulish', sans-serif;  
  width: 600px;
  background-color: #DEB887;
  margin: auto;
  border-radius: 6px
  
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}


h1 {  
  font-size: 60px;
}
h2 {
  font-size: 36px;

}
h3 {
  font-size: 26px;
  
}
h4 {
  font-size: 27px;
  
}
p {
  font-size: 26px; 
text-align: left;
margin: 30px;
}
i {
  color: #2F4F4F;
}

@media screen and (max-width: 400px){
  .wrapper {
    font-size: 7vw;
    padding: 0;
    width: 90%;
    margin: 3%;
   
    }


